<h4>
    <div class="blockquote-footer ml-2">{{quote.author}}</div>
</h4>
<div class="text-right mr-2">
    <h6 >Posted on: {{quote.postDate|date}}, {{quote.postDate|dateCount}} days ago</h6>
    <h6>Submitted by : {{quote.name}}</h6>
</div>
<div class="card-footer text-center align-self-end">
    <button (click)='upvote()' class="btn btn-sm btn-success ">Like: {{numberOfLikes}}</button>
    <button (click)='downvote()' class="btn btn-sm btn-danger ml-2">Dislike: {{numberOfDislikes}}</button>
    <button (click)='deleteQuote(true)' class="btn btn-sm btn-dark float-right" >Delete</button>
</div>
