<div class="container">
    <h1 class="text-center">Quotes</h1>
    <hr>
    <div class="row">
     <div class="col-md-6" style="border-right: 1px solid #ccc">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>
    <div class="col-md-6 pl-5">
    <div *ngFor = 'let quote of quotes; let i = index'>
        
        <blockquote class="blockquote">
            <h4>{{quote.quote}} <br></h4>
            <app-quote-details [quote]='quote' (toDelete) = 'deleteQuote($event,i)'></app-quote-details>
        </blockquote>        
        <hr>
    </div>
    </div>
    
    </div>
</div>
