@import "~bootstrap/dist/css/bootstrap.css";

html, body{
        background-image: url(/assets/bcg.jpg); 
        background:no-repeat cover; 
}

.card{
        width:25rem; 
        background:rgba(255, 255, 255, 0.7);
}